<head>
  <%= stylesheet_link_tag "detail", "data-turbo-track": "reload" %>
</head>

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class='container buttons'>
  <%= link_to "Editar Usuario", edit_user_path(@user) %> |
  <%= link_to "Volver a la lista", users_path %>

<%= button_to "Eliminar Usuario", @user, method: :delete %>
</div>
